<div class="dropdown__item">
    {{#if avatars}}
        <div class="thumb">
            <img src="{{ thumb }}">
        </div>
    {{/if}}
    <div class="name">{{ name }}</div>
    {{#if avatars}}
        <div class="sub">{{ sub }}</div>
    {{/if}}
    <div class="clear"></div>
</div>