.vk-dropdown {
    display: block;
    font-size: 12px;
    text-align: left;
    direction: ltr;
    line-height: 1.167;
    font-family: Lucida Grande, Arial, tahoma, verdana, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: subpixel-antialiased;
    background: #FFF;
    border: 1px solid #C0CAD5;
    padding: 2px;
    position: relative;
    overflow: visible !important;
}

.vk-dropdown__input {
    float: left;
    width: 382px;
    color: rgb(119, 119, 119);
    height: 14px;
    padding: 4px 6px 6px;
    outline: 0px;
    margin: 0px;
    border: 0px;
}

.clear_fix {
    display: block;
}
.clear_fix:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}