<div class="dropdown__inner">
    {{#items}}
    <div class="dropdown__item">
        {{#if ../avatars}}
        <div class="thumb">
            <img src="{{ thumb }}">
        </div>
        {{/if}}
        <div class="name">{{ name }}</div>
        <div class="sub">{{ sub }}</div>
        <div class="clear"></div>
    </div>
    {{/items}}
    {{^items}}
    <div class="dropdown__item">No data</div>
    {{/items}}
</div>