<div class="dropdown__inner">
    {{#items}}
    <div class="dropdown__item">
        <div class="name">{{lookup this ../prop}}</div>
    </div>
    {{/items}}
    {{^items}}
    <div class="dropdown__item">No data</div>
    {{/items}}
</div>